<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <main>    
    <div class="form">
        <form action="/login" method="post">
        <h2>Login</h2>
            <div class="inputBox">
                <p>Enter Your Username:</p>
                <input type="text" id="username" name="username" placeholder="your username" class="box" required>
                <i></i>
            </div>
            <div class="inputBox">
                <p>Password:(contains 6 charecter)</p>  
                <input type="password" name="password" id="password" placeholder="password" class="box" required>
                <i></i>
            </div>
            <button type="submit" id="login">Login</button>
            <div class="links">
                <p>Don't have an account?<a href="/signup">Signup</a></p>
            </div>
        </form>
    </div>
    </main>
</body>
</html>