<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <div class="main">
        <form action="/signup" method="post">
            <div class="form">
                <h2>Signup</h2>
                <br>
                    <div class="inputBox">
                        <label for="username">Name:</label>
                        <br>
                        <input type="text" name="username"  id="username" class="box" required autocomplete="off">
                        <i></i>
                    </div>
                    <br>
                    <div class="inputBox">
                        <label for="email">Email:</label>
                        <br>
                        <input type="email" name="email"  id="email" class="box" required autocomplete="off">
                        <i></i>
                    </div>
                    <br>
                    <div class="inputBox">
                        <label for="Password">Password:</label> 
                        <br> 
                        <input type="password" id="password" name="password" placeholder="" class="box" required>
                        <i></i>
                    </div>
                    <br>
                    <button type="submit" id="signup">Signup</button>
            </div>
        </form>
    </div>
</body>
</html>